* {
  margin: 0;
  padding: 0;
}
/* font-family: 'Merriweather', serif; */
/* font-family: 'Inter', sans-serif; */
.container {
  width: 80%;
  max-width: 1600px;
  margin: 0 auto;
}
img {
  
  vertical-align: middle;
}
.section-subtitle {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.section-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}
.primary-text {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.btn-primary {
  border: none;
  outline: none;
  display: flex;
  padding: 16px 32px;
  border-radius: 8px;
  background: #f00;
  text-align: center;
  cursor: pointer;
  margin: 25px auto;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.sec1,
.sec2,
.sec3,
.sec5,
.sec6,
.subscribe,
footer {
  margin-top: 120px;
}
/* header content style */
.header-content {
  width: 100%;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../img/banner-image.png);
  background-size: cover;
  padding: 130px 0;
  margin-top: 50px;
}
.header-subtitle {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 10px;
}
.header-title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}

/* Section1 style start  */
.sec1-content h1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
}
.sec1-content h3 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 48px;
  margin-bottom: 20px;
}
.sec1-content h2 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.sec1-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 50px;
}
/* section2 style start  */
.sec2-content {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../img/Vectorrr.png");
  border-radius: 16px;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 80px;
  gap: 20px;
}
.sec2-left-content {
}
.sec2-left-content h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  margin-bottom: 24px;
}
.sec2-left-content p {
  color: rgba(255, 255, 255, 0.8);
}
.join-button {
  border: none;
  outline: none;
  background: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 25px;
}
.sec2-right-content {
  width: 500px;
}
.sec2-right-content img {
  width: 100%;
}
/* Section 3 style */

.address-sec-content {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  padding: 100px 0 100px;
  border-radius: 16px;
}
.address-details {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.address-details span {
  color: #f00;
}

/* section 4 start here */

.coming-soon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.coming-soon-text {
  flex-basis: 33%;
}
.coming-soon-text h2 {
  margin-top: 16px;
  margin-bottom: 22px;
}

.coming-soon-img {
  flex-basis: 33%;
}
.coming-soon-img img {
  width: 300px;
  border-radius: 50%;
  padding: 26px;
  border: 15px solid #f00;
}
.coming-soon-right-text {
  flex-basis: 25%;
}
.coming-soon-right-text h1 {
  color: #f00;
  font-family: Inter;
  margin-bottom: 20px;
  margin-top: 20px;
}
.coming-soon-right-text img {
  margin-top: 50px;
  width: 140px;
  height: 140px;
}

/* holiday section style  */
.holiday-section img {
  width: 100%;
}
.holiday-section h3 {
  color: #070211;
  text-align: center;
}
.holiday-section h1 {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 30px;
}
.holiday-section p {
  text-align: center;
}
.holiday-offer {
  margin-top: 50px;
  position: relative;
}

.holiday-offer-img-wrapper {
  position: relative;
  width: 100%;
  height: 400px;
}
.holiday-offer-img-wrapper .img1 {
  position: absolute;
  z-index: 455;
  width: 450px;
  top: 45%;
  left: 5%;
}
.holiday-offer-img-wrapper .img3 {
  position: absolute;
  right: 0;
}
.holiday-offer-img-wrapper .img4 {
  position: absolute;
  top: 100%;
  width: 100%;
  overflow: hidden;
}
.holiday-offer .img2 {
  position: absolute;
  right: 25%;
  top: 15%;
  z-index: 23303;
}

/* .portfolio section star  */
.portfolio {
  margin-top: 300px;
}
.portfolio h2 {
  margin: 20px 0;
}
.portfolios {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}

.portfolios .portfolio-item {
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.portfolios .portfolio-item:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.portfolios .portfolio-item:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
}

.portfolios .portfolio-item img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-radius: 16px;
}

/* subscribe section content style */
.subscribe-bg {
  background-color: rgba(255, 0, 0, 0.05);
  border-radius: 16px;
}
.subscribe-content {
  margin: auto;
  text-align: center;
  padding: 80px 220px;
}
.subscribe-content img {
  width: 150px;
  height: 150px;
}
.subscribe-content h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.subscribe-content .subscribe-form {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.subscribe-content input {
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
}
.subscribe-content input[type="email"] {
  border-radius: 50px 0 0 50px;
  padding-left: 30px;
  color: rgba(7, 2, 17, 0.3);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  width: 300px;
}
.subscribe-content input::placeholder {
  color: rgba(7, 2, 17, 0.3);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}
.subscribe-content input[type="submit"] {
  flex-shrink: 0;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  width: 180px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

/* footer section style  */
.footer {
  background: #070211;
}
.footer-content {
  padding: 120px 0;
}
.footer-top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-top-content h3 {
  color: #fff;
}
.footer-top-content li {
  color: #fff;
  list-style: none;
  margin-top: 10px;
}
.footer-social-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}
.footer-social-content img {
  width: 64px;
  height: 64px;
  cursor: pointer;
  margin: 0 25px;
}
.footer-bottom-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-bottom-content h3 {
  color: #fff;
}
.footer-bottom-content .unsubscribe {
  color: #fff;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
